<ion-header>
    <ion-toolbar>
      <ion-title>Chave Pública</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-label>Hash da Chave</ion-label>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-col size="6"></ion-col>
    <ion-col size="3">
      <p text-wrap text-center class="hash">{{public_key}}</p>
    </ion-col>
    <ion-col size="6"></ion-col>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label>Pareamentos</ion-label>
    </ion-item>
    <ion-item *ngFor="let s of sources">
      <ion-icon slot="start" color="medium" name="logo-chrome"></ion-icon>
      <ion-label text-wrap>{{s.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <ion-toolbar transparent>
    <ion-button ion-button full text-uppercase class="btn-full" (click)="scan2()">Novo Pareamento via QR Code
    </ion-button>
  </ion-toolbar>
</ion-footer>